In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import  OneHotEncoder , MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
dataset = pd.read_csv('./../Presentaciones y programas/02/50_Startups.csv')
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 4].values

numerical = X.select_dtypes(include=['int64', 'float64'])
categorical = X.select_dtypes(include=['object', 'bool'])

enc = OneHotEncoder()
mms = MinMaxScaler()
onehotlabels = enc.fit_transform(categorical).toarray()

onehotlabels = onehotlabels[:,1:]

X = numerical.iloc[:,:].values
X_mm = mms.fit_transform(X)
X_completo = np.concatenate((onehotlabels, X_mm), axis = 1)

In [7]:
print('Total de muestras:',len(dataset))
print('Valores categoricos en state:', dataset['State'].unique())
title = " Visualizacion de dataset "
print(f'{title:=^70}')
dataset.head()

Total de muestras: 50
Valores categoricos en state: ['New York' 'California' 'Florida']
====================== Visualizacion de dataset ======================

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [13]:
modelo = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X_completo,y,test_size=0.1,random_state=0)
modelo.fit(X_train, y_train)
score_train = modelo.score(X_train, y_train)
score_test = modelo.score(X_test, y_test)
print('training score = {:7.3f}'.format(score_train))
print('test score = {:7.3f}'.format(score_test))

training score =   0.949
test score =   0.935

In [14]:
print("Intercept = ",modelo.intercept_)
print("Incrinación = ",modelo.coef_)

Intercept =  46375.58749639151
Incrinación =  [-1.15320660e+03  7.78655766e+02  7.78395354e-01  5.70695437e-03
  3.21344322e-02]